.btn {
  border: none;
  font-weight: 600;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
  position: relative;

  @include buttonTransition();

  //Size variants

  div {
    position: relative;
    top: 20;
  }

  &-sm {
    padding: 12px 36px;
  }

  &-md {
    padding: 20px 43.3px;
  }

  &-lg {
    padding: 23px 54px;
    font-size: 16px;
  }

  //Color variants
  &-primary {
    background-color: var(--dv-black);
    color: #ffffff;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    transform: translateY(-1.5px);
  }
}
