.btn {
  border: none;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;

  //Size variants
  &-sm {
    height: 39px;
    width: 169px;
  }

  &-md {
    height: 56px;
    width: 173px;
  }

  &-lg {
    height: 64px;
    width: 272px;
  }

  //Color variants
  &-primary {
    background-color: var(--dv-black);
    color: #ffffff;
  }

  // &-primary {
  //     background-color: rgb(var(--foreground-rgb));
  //     color: rgb(var(--background-rgb))
  // }

  // &-secondary {
  //     background-color: rgb(var(--background-rgb));
  //     color: rgb(var(--foreground-rgb))
  // }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }

  @include buttonTransition();

  &:hover {
    transform: translateY(-1.5px);
  }
}
