.timer-placeholder {
  height: 20rem;

  @include media('<=tablet') {
    height: 12.5rem;
  }

  @include media('<=phone') {
    height: 8.5rem;
  }
}

.countdown-wrapper {
  background-color: var(--dv-black);
  border-radius: 40px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  margin-top: 4rem;

  @include media('<=tablet') {
    border-radius: 20px;
  }

  @include media('<=phone') {
    border-radius: 20px;
    gap: 0.2rem;
    padding: 3px;
  }

  > div {
    background-color: var(--dv-light-yellow);
    border-radius: 32px;
    width: 25%;
    height: 174px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    p {
      font-weight: 500;
      text-transform: uppercase;
    }

    @include media('<=tablet') {
      height: 120px;
      border-radius: 26px;
    }

    @include media('<=phone') {
      height: 68px;
      border-radius: 20px;
      gap: 0.1rem;

      h1 {
        font-size: 28px;
        font-weight: 500;
      }

      p {
        font-size: 10px;
        font-weight: 400;
      }
    }
  }
}
