// background
$background-light: #ffffff;
$background-softlight: #ffffff;
$background-dark: #000000;

// Grey Shades
$grey-10: #0b0a0a;
$grey-20: #1d1d1d;
$grey-30: #2b2b2b;
$grey-40: #353535;
$grey-50: #4f4f4f;
$grey-60: #7d7d7d;
$grey-70: #a3a3a3;
$grey-80: #e3e3e3;
$grey-90: #f4f4f4;
$grey-100: #ffffff;

// Blue Shades
$blue-primary-100: #f5f9fe;
$blue-primary-90: #d4e3fc;
$blue-primary-80: #a3c4fa;
$blue-primary-70: #6199f6;
$blue-primary-60: #4285f4;
$blue-primary-50: #3a71ca;
$blue-primary-40: #2c59a3;
$blue-primary-30: #21427a;
$blue-primary-20: #162c51;
$blue-primary-10: #0d1b31;

// Green Shades
$green-primary-100: #f8fcf9;
$green-primary-90: #dff1e4;
$green-primary-80: #bfe3c8;
$green-primary-70: #8dce9f;
$green-primary-60: #73d48d;
$green-primary-50: #5fce7d;
$green-primary-40: #2f984a;
$green-primary-30: #226d35;
$green-primary-20: #154623;
$green-primary-10: #0a2211;

// Yellow Shades
$yellow-primary-100: #fff6e0;
$yellow-primary-90: #ffedc7;
$yellow-primary-80: #ffdd94;
$yellow-primary-70: #ffcd61;
$yellow-primary-60: #ffbd2e;
$yellow-primary-50: #f9ab00;
$yellow-primary-40: #c78900;
$yellow-primary-30: #946600;
$yellow-primary-20: #614300;
$yellow-primary-10: #140e00;

// Red Shades
$error-primary-100: #ffebeb;
$error-primary-90: #fce0de;
$error-primary-80: #fca39c;
$error-primary-70: #fc7d73;
$error-primary-60: #fb4337;
$error-primary-50: #f51a0a;
$error-primary-40: #be1a0e;
$error-primary-30: #871a12;
$error-primary-20: #5c140f;
$error-primary-10: #2a0d09;
